.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.black {
  background-color: deepskyblue;
}

.white {
  background-color: rgb(222, 197, 151);
}

.green {
  background-color: rgb(8, 183, 8);
}

img {
  width: 50px;
}

.selected {
  background-color: brown;
}

.avaliable {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(12, 9, 190);
}